@import '~@payloadcms/ui/scss';

.dashboard .before-dashboard {
  // margin-bottom: base(1.5);

  &__banner {
    & h4 {
      margin: 0;
    }
  }

  &__instructions {
    list-style: decimal;
    margin-bottom: base(0.5);

    & li {
      width: 100%;
    }
  }
  &__button {
    margin-top: 0;
    margin-bottom: 0;
  }

  & a:hover {
    opacity: 0.85;
  }
}
